.list__item {
  display: flex;
  border-radius: 16px;
  margin: 1rem 0;
  padding: 0.8rem;
  background-color: #38444907;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.list__col--id {
  flex: unset;
  width: fit-content;
  padding: 0 20px;
}

.list__col {
  flex: 1;
}