body {
  min-height: 100vh;
  background-color: #f1f1f1;
  margin: 0;
  font-family: 'Play', 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  padding: 2rem;
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 20%;
}

.main {
  background-color: ;
  width: 100%;
}